####################################
# .NET
####################################
bin/
obj/

####################################
# Visual Studio / VS Code
####################################
.vs/
.vscode/

####################################
# Logs
####################################
*.log

####################################
# Node / Frontend
####################################
node_modules/
Frontend/node_modules/

# Frontend build (Vite / React)
dist/
Frontend/dist/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Trae
####################################
.trae/

####################################
# Logs
####################################
Backend/build_log.txt
Backend/appsettings.Local.json
